doctype html
html
  head
    title Neular Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="./static/logo.png")
                | NDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content 
  block foot 
    #footer
      |  Copyright © 2023 NeularDanceAcademy.com | All Rights Reserved 